body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

section {
  border-radius: 10px;
  background-color: #430a5d;
  color: white;
  width: 500px;
  padding: 10px;
  text-align: center;
}

#randomNum {
  border: 2px solid black;
  font-size: 30px;
  padding: 5px;
  width: 60%;
  position: relative;
  left: 20%;
  text-align: center;
}

button {
  border: none;
  width: 35%;
  height: 40px;
  padding: 5px;
  border-radius: 10px;
}
