body {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: blue;
  padding: 5px;
  border-radius: 5px;
}

.container h2 {
  text-align: center;
  color: whitesmoke;
}

.container .count {
  text-align: center;
  font-size: 25px;
  font-weight: 800;
  color: aliceblue;
}

.container .btn {
  left: 20%;
  border: none;
  padding: 5px;
  margin: 5px;
  font-size: 15px;
  font-weight: 600;
}

.sub {
  background-color: orangered;
  color: aliceblue;
}

.res {
  background-color: aqua;
  color: black;
}

.add {
  background-color: green;
  color: aliceblue;
}
